*{
    margin: 0;
    padding: 0;
    
}
html, body {
    height: 100%;
}
body {
    background-color: rgba(255, 166, 0, 0.842);
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    float: right;
    background-color: grey;
    border-style: solid;
    border-color: black;
    font-size: 20px;
}
nav h1{
    font-style: italic;
    color: orange;
}
nav ul li{
    list-style-type: none;
    width: 0 auto;
    float: left;
}
nav ul li a{ 
    display: block;
    width: 150px;
    height: 40px;
    color: orange;
}
.background-graphic {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(https://thumbs.dreamstime.com/b/desktop-source-code-technology-background-developer-programer-coding-programming-wallpaper-computer-language-virus-124934719.jpg);
    background-size: cover;
    background-position:top;
}
main{
    display:flex;
    flex: 1 0 auto;
    flex-direction: column;
   
}
main section{
    display: flex;
    flex-wrap: wrap;
}
main section div{
    height: 200px;
    width: 200px;
    border-style: solid;
    border-color: grey;
}
aside{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;    
}
aside div{
    display:flex;
    justify-content: center;
}
aside p{
 width: 50%;
 
}
.aside-img{
    height:400px;
    width:400px;   
}

footer {
    display: flex;
    width: 100%;
    background-color: grey;
    border-style: solid;
    border-color: black;
    font-size: 20px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
footer h3 {
    margin-right: 8px;
    font-size: 20px;
    font-style:italic;
    color: orange;
}
footer ul{
    display: flex;
    width: 60%;
list-style: none;
justify-content: space-around;    
}
